---
import { SITE_NAME } from '../data/schema';
import { PHONE, SOCIAL } from '../data/config';
import {
  footerDescriptions,
  DEFAULT_FOOTER_DESCRIPTION,
} from '../data/footer-descriptions';
import Icon from './Icon.astro';
import reviews from '../data/reviews.json';

const reviewCount = reviews.totalReviews;
const reviewRating = reviews.totalRating;

const pathname = Astro.url.pathname;
const footerDescription =
  footerDescriptions[pathname] || DEFAULT_FOOTER_DESCRIPTION;
---

<!-- Footer -->
<footer id="footer">
  <div class="lets-chat">
    <a href="/contact/" class="show-form" rel="nofollow"
      ><img src="/images/expert.png" alt="Book Now, Let's Chat" />
      <span>Book Now<br />Let's Chat</span>
    </a>
  </div>

  <div class="row">
    <div class="col-4 col-4-medium">
      <ul class="menu-footer-navigation">
        <li><a href="/" title="San Diego DJ Misha">Home</a></li>
        <li><a href="/about/" title="About San Diego DJ Misha">About</a></li>
        <li>
          <a
            href="/music/"
            title="Dance and House Music Mixes by San Diego DJ Misha">Music</a
          >
        </li>
        <li><a href="/reviews/">Reviews</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li>
          <a
            href="/contact/"
            title="Contact San Diego DJ for Availably, Pricing and Bookings"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="col-4 col-7-medium">
      <ul class="services-navigation">
        <li>
          <a href="/services/" title="San Diego DJ Services">DJ Services</a>
        </li>
        <li>
          <a
            href="/dj-saxophone/"
            title="DJ + Saxophone Duo // DJ Misha and Jason Whitmore on Saxophone"
            >DJ + Saxophone</a
          >
        </li>
        <li><a href="/services/wedding-dj-in-san-diego/">Wedding DJ</a></li>
        <li>
          <a href="/services/destination-wedding-dj/">Destination Wedding DJ</a>
        </li>
        <li>
          <a
            href="/services/corporate-event-dj-in-san-diego/"
            title="Corporate Event DJ in San Diego">Corporate Event DJ</a
          >
        </li>
        <li>
          <a
            href="/services/party-birthday-dj-in-san-diego/"
            title="Party & Birthday DJ in San Diego">Party &amp; Birthday DJ</a
          >
        </li>
      </ul>
    </div>
    <div class="col-4 col-12-medium">
      <aside>
        <div class="footer-overview">
          <span class="footer-overview-icon"
            ><Icon name="lightbulb" size="1.1em" /></span
          >
          <p class="footer-overview-text">{footerDescription}</p>
        </div>
      </aside>
    </div>
  </div>

  <div class="footer-phone">
    <a href={PHONE.href} class="footer-phone-number">
      <Icon name="mobile" size="0.85em" />
      {PHONE.display}
    </a>
    <small class="footer-phone-cta">Text or call for a fast response</small>
  </div>

  <ul class="icons">
    <li>
      <a href={SOCIAL.instagram} class="icon" target="_blank" title="DJ Misha">
        <Icon name="instagram" size="1.925em" />
        <span class="label">San Diego DJ Misha Instagram</span>
      </a>
    </li>
    <li>
      <a
        href={SOCIAL.google}
        class="icon"
        target="_blank"
        title="San Diego DJ Google +"
        rel="noreferrer"
      >
        <Icon name="google" size="1.75em" />
        <span class="label">San Diego DJ Google Business Profile</span>
      </a>
    </li>
    <li>
      <a
        href={SOCIAL.yelp}
        class="icon"
        target="_blank"
        title="San Diego DJ Yelp"
        rel="noreferrer"
      >
        <Icon name="yelp" size="1.75em" />
        <span class="label">San Diego DJ Yelp</span>
      </a>
    </li>
    <li>
      <a
        href={SOCIAL.facebook}
        class="icon"
        target="_blank"
        title="San Diego DJ Facebook"
        rel="noreferrer"
      >
        <Icon name="facebook" size="1.75em" />
        <span class="label">San Diego DJ Facebook</span>
      </a>
    </li>
  </ul>

  <ul class="copyright">
    <li>
      <div class="ratings">
        <a
          href="https://www.google.com/search?q=dj+misha&oq=dj+misha&aqs=chrome..69i57j69i61j69i60l2j0l2.835j0j4&sourceid=chrome&ie=UTF-8#lrd=0x80dbffcb31404e13:0x3fae10d8742ab418,1,,,"
          target="_blank"
          rel="noopener"
        >
          <span class="ratings__text"
            >{reviewRating} Stars from {reviewCount} Reviews</span
          >

          <span class="ratings__stars">
            {
              Array.from({ length: 5 }).map(() => (
                <span class="ratings__star" aria-hidden="true">
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    width="436.1px"
                    height="417.932px"
                    viewBox="31.95 41.034 436.1 417.932"
                  >
                    <path
                      fill="#FAB117"
                      d="M250,41.034c-8.091,0-14.808,5.448-16.902,12.901l-42.882,132.467H49.392
	c-9.724,0-17.442,8.456-17.442,18.26c0,5.999,2.997,11.357,7.54,14.542c2.814,1.907,113.747,82.948,113.747,82.948
	s-42.605,130.835-43.431,132.921c-0.63,1.907-1.083,4.001-1.083,6.175c0,9.812,7.897,17.718,17.622,17.718
	c3.726,0,7.178-1.181,10.087-3.175L250,373.106c0,0,111.023,80.864,113.568,82.685c2.899,1.994,6.361,3.175,10.078,3.175
	c9.726,0,17.631-7.994,17.631-17.718c0-2.174-0.45-4.268-1.092-6.175c-0.815-2.086-43.422-132.921-43.422-132.921
	s110.924-81.042,113.744-82.948c4.543-3.185,7.542-8.543,7.542-14.63c0-9.717-7.542-18.172-17.267-18.172H309.961L266.893,53.935
	C264.811,46.482,258.081,41.034,250,41.034z"
                    />
                  </svg>
                </span>
              ))
            }
          </span>
        </a>
      </div>
    </li>
    <li>
      &copy; <a href="" title={SITE_NAME} rel="home">{SITE_NAME}</a> | <a
        href="/sitemap/">Sitemap</a
      >
    </li>
  </ul>

  <!-- Scripts -->
  <script is:inline src="/js/jquery.min.js"></script>
  <script is:inline src="/js/jquery.scrolly.min.js"></script>
  <script is:inline src="/js/jquery.dropotron.min.js"></script>
  <script is:inline src="/js/jquery.scrollex.min.js"></script>
  <script is:inline src="/js/browser.min.js"></script>
  <script is:inline src="/js/breakpoints.min.js"></script>
  <script is:inline src="/js/util.js"></script>
  <script is:inline src="/js/main.js"></script>
  <script is:inline src="/js/custom.js"></script>

  <!-- FancyBox -->
  <script is:inline src="/js/jquery.fancybox.min.js"></script>
  <script is:inline>
    jQuery(function () {
      // Auto-detect image links
      var images = jQuery('a').filter(function () {
        return /\.(jpe?g|png|gif|bmp|webp)$/i.test(jQuery(this).attr('href'));
      });
      var gallery = jQuery('.ngg-gallery-thumbnail a');
      images.each(function () {
        var title = jQuery(this).children('img').attr('title');
        var caption = jQuery(this).children('img').attr('alt');
        jQuery(this)
          .attr('data-fancybox', '')
          .attr('title', title)
          .attr('data-caption', caption);
      });
      gallery.each(function () {
        var galleryid =
          jQuery(this).closest('.ngg-galleryoverview').attr('id') || 'gallery';
        var title = jQuery(this).children('img').attr('title');
        var caption = jQuery(this).children('img').attr('alt');
        jQuery(this)
          .attr('data-fancybox', galleryid)
          .attr('title', title)
          .attr('data-caption', caption);
      });
      jQuery('[data-fancybox]').fancybox({
        loop: false,
        margin: [44, 0],
        gutter: 50,
        keyboard: true,
        arrows: true,
        infobar: false,
        toolbar: true,
        buttons: ['slideShow', 'fullScreen', 'thumbs', 'close'],
        idleTime: 4,
        protect: false,
        modal: false,
        animationEffect: 'zoom',
        animationDuration: 350,
        transitionEffect: 'fade',
        transitionDuration: 350,
      });
    });
  </script>
</footer>
